In [1]:
import pandas as pd
from sqlalchemy import create_engine

# create connection
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/postgres'
# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)
# Establish a connection
connection = engine.connect()
print("Connection Database Successfully")

Connection Database Successfully

In [2]:
create_db = '''
DROP TABLE IF EXISTS listing CASCADE;
CREATE TABLE listing(
listing_id integer NOT NULL,
name varchar(50),
description text,
PRIMARY KEY(listing_id)
);

DROP TABLE IF EXISTS host CASCADE;
CREATE TABLE host (
host_id int,
host_name varchar(128),
host_since timestamp,
host_location varchar(128),
host_about varchar(128),
host_response_time varchar(128),
host_response_rate varchar(128),
host_acceptance_rate varchar(30),
host_is_superhost boolean,
host_neighbourhood varchar(128),
host_listings_count varchar(128),
host_total_listings_count varchar(128),
host_verifications varchar(128),
host_has_profile_pic boolean,
host_identity_verified boolean,
PRIMARY KEY(host_id)
);

DROP TABLE IF EXISTS price CASCADE;
CREATE TABLE price(
id integer NOT NULL,
price numeric,
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS geometry CASCADE;
CREATE TABLE geometry(
id int NOT NULL,
latitude varchar(50),
longtitude varchar(50),
zipcodes char(5),
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS restaurants CASCADE;
CREATE TABLE restaurants(
id integer NOT NULL,
name varchar(200),
neighbourhood varchar(80),
building varchar(200),
street varchar(200),
zipcode varchar(5),
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS property CASCADE;
CREATE TABLE property(
property_id int,
property_type varchar(128),
room_type varchar(128),
accommodates varchar(128),
bathrooms varchar(128),
bedrooms varchar(50),
beds varchar(50),
amenities varchar(128),
PRIMARY KEY(property_id)
);

DROP TABLE IF EXISTS nights CASCADE;
CREATE TABLE nights(
nights_id int,
minimum_nights numeric,
maximum_nights numeric,
PRIMARY KEY(nights_id)
);

DROP TABLE IF EXISTS availability CASCADE;
CREATE TABLE availability(
availability_id int,
has_availability boolean,
availability_30 varchar(30),
availability_60 varchar(30),
availability_90 varchar(30),
availability_365 varchar(30),
PRIMARY KEY(availability_id)
);

DROP TABLE IF EXISTS review CASCADE;
CREATE TABLE review(
review_id int,
first_review timestamp,
last_review timestamp,
review_scores_rating varchar(50),
review_scores_accuracy varchar(50),
review_scores_cleaness varchar(50),
review_scores_checkin varchar(50),
review_scores_communication varchar(50),
review_scores_location varchar(50),
review_scores_value varchar(50),
PRIMARY KEY(review_id)
);

DROP TABLE IF EXISTS neighbourhoods CASCADE;
CREATE TABLE neighbourhoods(
id integer NOT NULL,
neighbourhood_cleansed varchar(90),
neighbourhoods_group varchar(90),
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS url CASCADE;
CREATE TABLE url (
id integer,
listing_url varchar,
picture_url varchar,
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS stars CASCADE;
CREATE TABLE stars(
id int NOT NULL,
star varchar(10),
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS michelin_restaurants CASCADE;
CREATE TABLE michelin_restaurants(
id int NOT NULL,
name varchar(100),
year varchar(10),
cuisine varchar(100),
price varchar(10),
zipcode varchar(5),
url varchar,
PRIMARY KEY(id)
);

DROP TABLE IF EXISTS crime_type CASCADE;
CREATE TABLE crime_type(
case_num int NOT NULL,
crime_type varchar(100),
PRIMARY KEY(case_num)
);

DROP TABLE IF EXISTS crime_geometry CASCADE;
CREATE TABLE crime_geometry(
case_num int,
latitude varchar(20),
longitude varchar(20),
zipcodes varchar(5),
PRIMARY KEY(case_num)
);
'''

connection.execute(create_db)

In [12]:
#insert value into database
availability = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\availability.csv')
crime_geometry = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\crime_geometry.csv')
crime_type = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\crime_type.csv')
geometry = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\geometry.csv')
host = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\host.csv')
listing = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\listing.csv')
michelin_restaurants = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\michelin_restaurants.csv')
neighbourhood = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\nbhd.csv')
nights = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\nights.csv')
price = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\price.csv')
property = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\property.csv')
restaurants = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\restaurants.csv')
review = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\review.csv')
stars = pd.read_csv(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\stars.csv')
url = pd.read_excel(r'C:\Users\white\Desktop\airBnb\airBnb\app\sql\database\url.xlsx')

In [13]:
availability.to_sql(name='availability', con=engine, if_exists='replace', index=False)
crime_geometry.to_sql(name='crime_geometry', con=engine, if_exists='replace', index=False)
crime_type.to_sql(name='crime_type', con=engine, if_exists='replace', index=False)
geometry.to_sql(name='geometry', con=engine, if_exists='replace', index=False)
host.to_sql(name='host', con=engine, if_exists='replace', index=False)
listing.to_sql(name='listing', con=engine, if_exists='replace', index=False)
michelin_restaurants.to_sql(name='michelin_restaurants', con=engine, if_exists='replace', index=False)
neighbourhood.to_sql(name='neighbourhood', con=engine, if_exists='replace', index=False)
nights.to_sql(name='nights', con=engine, if_exists='replace', index=False)
price.to_sql(name='price', con=engine, if_exists='replace', index=False)
property.to_sql(name='property', con=engine, if_exists='replace', index=False)
restaurants.to_sql(name='restaurants', con=engine, if_exists='replace', index=False)
review.to_sql(name='review', con=engine, if_exists='replace', index=False)
stars.to_sql(name='stars', con=engine, if_exists='replace', index=False)
url.to_sql(name='url', con=engine, if_exists='replace', index=False)

1000